*{
    margin: 0px;
    padding: 0px;
    
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
}
/* .hero a{
    background:linear-gradient(skyblue,lightblue)
} */
nav{
    display: flex;
    width:84%;
    padding: 20px 0px;
    align-items: center; 
    justify-content: space-between; 
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:8px 50px;
    
}
nav ul li a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
nav ul li a:hover{
    color:red;
    background-color:black ;
    transition-duration: 1s;
}
.del{
    margin-left: 6rem;
    margin-top: 9rem;
}
.del h1{
    font-size: 4rem;
    color:grey;
    margin-bottom: 3rem;
}
span{
    color:gold;
}
.del p{
    color: #555;
    /* line-height:22px; */
    font-size:1rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.del a{
    background-color: black;
    padding:0.8rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color:red;
    display:inline;
     /* margin: 30rem 0rem; */
    border-radius:1rem;
}
.del a:hover{
    color: black;
    background-color: red;
    transition-duration: 1s;
}
.me{
    height: 25rem;
    width:24rem;
    position: absolute;
    right: 6rem;
    /* margin-right: 78px; */
    bottom: 7rem;
    left:49rem;
}


footer{
    margin: auto;
    width: 13rem;
    display: block;
    height: 2rem;
    font-size: 2.5rem;
    text-align: center;

}
fieldset{
    margin: auto;
    display: block;
    font-size: 1rem;
    font-family:fantasy;
    width: 0;
    height: 4rem;
    border: 2px double blue;
}
.img2{
    width: 30rem;
    height: 22rem;
    position: absolute;
    left: 44rem;
    right: 0rem;
    bottom: 1rem;
}
.right{
    color: rgb(148, 173, 184);
    border: 0rem solid grey;
    height: 3rem;
    width: 75rem;
    display: block;
    margin: auto;
    text-align: center;
    background-color:lightslategrey;
}



